.popup {
  display: none;
}

/*Variables*/

:root {
  --black: #000000;
  --white: #FFFFFF;
  --background-gray: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-graydark: #293449;
  --basic-gray: #3D546F;
  --basic-graylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-yellow: #FFC047;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-beige: #F7F3EC;
  --success: #5FBB2D;
  --warning: var(--special-yellow);
  --error: #BA2732;
  --basic-greendark: #63A63E;
  --map-background: #F4F2EC;
  --slider-background: #6D6864;
  --basic-socials: #212A3A;
  --white-a03: rgba(255, 255, 255, 0.3);
  --special-gray: #A9A9A9;
  --special-gray-a03: rgba(169, 169, 169, 0.3);
  --basic-graylight-a03: rgba(197, 197, 197, 0.3);
}

/*Visually hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Global*/

*, *::before, *::after {
  box-sizing: inherit;
  }

  .content-box-component {
  box-sizing: content-box;
  }

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*Header*/

.header {
  padding-bottom: 60px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
  color: var(--white);
}

.header-top {
  width: 100%;
  background-color: var(--basic-graydark);
}

.header-top-wrapper {
  display: flex;
}

.header-top-logo {
  margin-bottom: -5px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.header-top-logo-link {
  display: flex;
  width: 100%;
  outline: none;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 57px;
}

.header-top-logo:active {
  background: var(--error);
}

.logo-link-img {
  width: 100%;
}

.header-search {
  margin: 0;
  padding: 0;
  position: relative;
  width: 230px;
  background-color: transparent;
}

.header-search:focus-within {
background-color: var(--white);
color: var(--black);
}

.header-search:focus-within .header-search-input::placeholder {
  color: var(--black);
}

.header-search:focus-within .header-search-icon {
  fill: var(--basic-red);
  opacity: 1;
}

.header-search:hover .header-search-icon {
  opacity: 1;
}

.header-search-button {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 20px;
  height: 20px;
  outline: none;
  background-color: transparent;
  border-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.header-search-icon {
  width: 17px;
  height: 17px;
  opacity: 0.3;
  fill: var(--white);
}

.header-search-button:focus .header-search-icon {
  fill: var(--basic-red);
  opacity: 1;
}

.header-search-button:focus .header-search-input::placeholder {
  color: var(--black);
}

.header-search-button:active .header-search-icon {
  opacity: 0.3;
}

.header-search-label {
  display: block;
  padding-top: 12px;
  padding-bottom: 9px;
  padding-left: 40px;
}

.header-search-input {
  display: block;
  width: 90%;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  border-style: none;
  color: var(--white);
}

.header-search-input::placeholder {
  padding-left: 2px;
  color: var(--white);
  opacity: 1;
}

.header-search-input:focus {
  color: var(--black);
}

.header-search-input:focus::placeholder {
  color: var(--black);
  background-color: var(--white);
}

.header-user-controls {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style: none;
}

.header-user-controls-item {
  position: relative;
  margin-right: 15px;
}

.header-user-controls-item:last-child {
  margin-right: 0;
}

.header-user-controls-link {
  position: relative;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  color: inherit;
}

.icon-bookmark {
  outline: none;
  padding-left: 43px;
  padding-right: 24px;
}

.icon-bookmark::before {
  content: "";
  background-image: url(../img/icon-bookmark.svg);
  width: 14px;
  height: 16px;
  display: inline-block;
  opacity: 0.3;
  position: absolute;
  left: 20px;
  top: 13px;
}

.icon-cart {
  outline: none;
  padding-left: 49px;
  padding-right: 26px;
}

.icon-cart::before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  width: 15px;
  height: 15px;
  display: inline-block;
  opacity: 0.3;
  position: absolute;
  left: 26px;
  top: 13px;
}

.icon-bookmark:hover::before,
.icon-bookmark:focus::before,
.icon-cart:hover::before,
.icon-cart:focus::before {
  opacity: 1;
}

.icon-bookmark:active::before,
.icon-cart:active::before {
  opacity: 0.3;
}

.icon-bookmark:active,
.icon-cart:active {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.header-checkout {
  outline: none;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: var(--basic-green);
}

.header-checkout:hover,
.header-checkout:focus {
  background-color: var(--success);
}

.header-checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

.header-main-wrapper {
  padding-top: 44px;
  padding-bottom: 40px;
}

.header-main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.header-main-link {
  outline: none;
}

.header-main-text {
  margin: 0;
  margin-right: 91px;
  padding: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-main-contacts {
  margin: 0;
  margin-right: 67px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-main-phone {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 74px;
  padding-right: 45px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border-style: solid;
  border-color: var(--white);
}

.header-main-phone::before {
  position: absolute;
  content: "";
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  top: 12px;
  left: 39px;
}

.header-main-phone-number {
  position: relative;
}

.header-main-address {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: var(--background-gray);
}

.header-login-actions {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 21px;
  line-height: 21px;
}


.action-login-link {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-right: 27px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.action-register-item {
  margin-left: 10px;
}

.action-register-link {
  margin: 0;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.action-login-link:hover,
.action-login-link:focus,
.action-register-link:hover,
.action-register-link:focus,
.header-order-actions-link:hover,
.header-order-actions-link:focus {
  color: var(--basic-red);
}

.header-order-actions-link:hover::before,
.header-order-actions-link:focus::before {
  background-color: var(--basic-red);
}

.action-login-link:hover .header-icon-login,
.action-login-link:focus .header-icon-login,
.action-username-link:hover .action-username-img,
.action-username-link:focus .action-username-img,
.action-logout-link:hover .action-logout-img,
.action-logout-link:focus .action-logout-img {
  fill: var(--basic-gray);
}

.action-login-link:active,
.action-register-link:active,
.action-username-link:active {
  color: var(--basic-graylight);
}

.action-login-link:active .header-icon-login,
.action-username-link:active .action-username-img,
.action-logout-link:active .action-logout-img {
  fill: var(--basic-graylight);
}

.header-user-actions-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: -18px;
}

.header-user-actions {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 21px;
  line-height: 21px;
}

.action-username-link {
  margin: 0;
  padding: 0;
  padding-left: 56px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.action-username-img {
  display: block;
  position: absolute;
  top: 13px;
  left: 15px;
}

.action-logout-link {
  padding-left: 10px;
  padding-right: 17px;
  padding-top: 14px;
  padding-bottom: 10px;
}

.my-order-userspace-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 44px;
  padding-right: 44px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  justify-content: space-between;
}

.header-order-actions-link {
  position: relative;
  outline: none;
  color: var(--background-gray);
}

.my-userspace-link::before {
  content: "";
  background-color: var(--background-gray);
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -18px;
}

.header-login-actions-link {
  outline: none;
  position: relative;
  display: block;
  background-color: var(--white);
  color: var(--black);
}

.header-user-actions-link {
  outline: none;
  position: relative;
  display: block;
  background-color: var(--white);
  color: var(--black);
}

.header-icon-login {
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  fill: var(--basic-graylight);
  vertical-align: middle;
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 19px;
  background-color: var(--background-gray);
  box-shadow: inset 0px -5px 0px var(--basic-graydark);
  display: flex;
  justify-content: space-between;
}

.header-nav-link {
  outline: none;
  display: block;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 20px;
  color: inherit;
}

.header-nav-link {
  padding-left: 28px;
  padding-right: 28px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  background-color: var(--basic-graydark);
}

.header-nav-link:active {
  color: var(--basic-graylight);
}

/*Main*/

.red-button-link {
  display: block;
  min-width: 192px;
  max-width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--white);
}

.offers {
  margin-bottom: 59px;
  padding-top: 59px;
  font-family: "Cuprum", Arial, sans-serif;
}

.offers-list {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-areas:
  "item1 item2 item3"
  "slider slider item4"
  "slider slider item5";
  grid-gap: 20px;
  list-style: none;
}

.offers-item {
  width: 300px;
  position: relative;
}

.offers-item-subtitle {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 73px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--white);
}

.offers-link {
  outline: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 23px;
  min-width: 135px;
  background-color: var(--white-a03);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  position: absolute;
  left: 22px;
  bottom: 21px;
}

.offers-link:hover,
.offers-link:focus {
  background-color: var(--basic-graylight-a03);

}

.offers-link:active {
  background-color: var(--special-gray-a03);
}

.offers-link-text {
  display: block;
  color: var(--white);
  opacity: 1;
}

.offers-item-basic-yellow {
  grid-area: item1;
  display: block;
  background-color: var(--basic-yellow);
  background-image: url(../img/catalog-new.svg);
  background-position: right top;
  background-repeat: no-repeat;
}

.offers-item-basic-yellow::after {
  content: "";
  background-image: url(../img/index/paint-bucket.svg);
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 65px;
  position: absolute;
  top: 31px;
  right: 43px;
}

.offers-item-blue {
  grid-area: item2;
  display: block;
  background-color: var(--special-blue);
}

.offers-item-blue::after {
  content: "";
  background-image: url(../img/index/tools.svg);
  background-repeat: no-repeat;
  display: block;
  width: 75px;
  height: 61px;
  position: absolute;
  top: 34px;
  right: 31px;
}

.offers-item-pink {
  grid-area: item3;
  display: block;
  background-color: var(--special-lilac);
}

.offers-item-pink::after {
  content: "";
  background-image: url(../img/index/tractor.svg);
  background-repeat: no-repeat;
  display: block;
  width: 78px;
  height: 62px;
  position: absolute;
  top: 31px;
  right: 31px;
}

.offers-item-green {
  grid-area: item4;
  display: block;
  background-color: var(--special-greenlight);
}

.offers-item-green::after {
  content: "";
  background-image: url(../img/index/cart-big.svg);
  background-repeat: no-repeat;
  display: block;
  width: 59px;
  height: 72px;
  position: absolute;
  top: 26px;
  right: 45px;
}

.offers-item-special-yellow {
  grid-area: item5;
  display: block;
  background-color: var(--special-yellow);
}

.offers-item-special-yellow::after {
  content: "";
  background-image: url(../img/index/truck.svg);
  background-repeat: no-repeat;
  display: block;
  width: 78px;
  height: 63px;
  position: absolute;
  top: 32px;
  right: 31px;
}

.offers-item-slider {
  width: 620px;
  grid-area: slider;
  display: block;
  position: relative;
}

.offers-slider-heading {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
  display: block;
  position: absolute;
  top: 23px;
  left: 24px;
  z-index: 1;
}

.offers-slider-text {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  display: block;
  position: absolute;
  top: 64px;
  left: 24px;
  z-index: 1;
}

.offers-slider-img {
  opacity: 0.2;
}

.offers-slider-hammer {
  width: 100%;
  display: block;
  position: absolute;
}

.offers-slider-hammer-img {
  display: block;
  position: absolute;
  background-color: var(--slider-background);
}

.offers-slider-drill {
  width: 100%;
  display: block;
  position: absolute;
}

.offers-slider-drill-img {
  display: block;
  position: absolute;
}

.offers-slider-controls-next {
  display: block;
  position: absolute;
  right: 20px;
  top: 122px;
  width: 22px;
  height: 40px;
  background-image: url(../img/index/icon-right.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.offers-slider-controls-prev {
  display: block;
  position: absolute;
  left: 24px;
  top: 122px;
  width: 22px;
  height: 40px;
  background-image: url(../img/index/icon-left.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.offers-slider-catalog-link {
  position: absolute;
  left: 24px;
  bottom: 27px;
  }

  .offers-slider-catalog-link:active {
    background-color: var(--error);
  }

  /* Popular goods */

.popular-goods-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-content: start;
  padding-top: 59px;
}

.popular-goods-heading-container {
  display: flex;
  justify-content: space-between;
}

.popular-goods-list {
  width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0;
  align-items: center;
  list-style: none;
}

.popular-goods-item {
  align-self: center;
}

/* Popular manufacturers */

.popular-manufacturers-wrapper {
  flex-direction: column;

}

.popular-manufacturers-heading-container {
  width: 940px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.popular-manufacturers-list {
  width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}

/* Services */

.services {
  background-color: var(--basic-background);
}

.services-wrapper {
  min-height: 522px;
  height: fit-content;
  flex-wrap: wrap;
}

.services-preview {
  width: 100%;
}

.services-preview-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  width: 240px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  list-style: none;
  padding: 0;
  padding-left: 21px;
  justify-content: center;
  align-self: start;
}

.services-list-item {
  width: 240px;
  height: 61px;
}

.services-description-wrapper {
  width: 619px;
  min-height: 300px;
  display: flex;
}

.services-description-container {
  display: flex;
}

.services-description {
  width: 313px;
}

.services-description-heading {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--background-gray);
}

.services-description-text {
  display: block;
  width: 313px;
  min-height: 99px;
}

.services-description-img-shipping {
  display: block;
  position: relative;
  right: 162px;
}

.services-description-img-shipping::before {
  width: 468px;
  height: 261px;
  content: "";
  background-image: url(../img/index/shipping-car.png);
  background-repeat: no-repeat;
  opacity: 1;
  display: inline-block;
}

.container-shipping {
  width: 100%;
}

.services-description-img-warranty {
  display: block;
  position: relative;
  right: 82px;
}

.services-description-img-warranty::before {
  width: 389px;
  height: 283px;
  content: "";
  background-image: url(../img/index/warranty.png);
  background-repeat: no-repeat;
  opacity: 1;
  display: inline-block;
}

.container-warranty {
  width: 100%;
  position: relative;
  right: 619px;
}

.services-description-img-credit {
  display: block;
  position: relative;
  right: 159px;
}

.services-description-img-credit::before {
  width: 465px;
  height: 285px;
  content: "";
  background-image: url(../img/index/credit.png);
  background-repeat: no-repeat;
  opacity: 1;
  display: inline-block;
}

.container-credit {
  width: 100%;
  position: relative;
  right: 1238px;
}

/*Info*/

.info {
  padding-top: 70px;
  padding-bottom: 70px;
}

.company-wrapper {
  display: flex;
  justify-content: flex-end;
}

.company {
  margin-right: 162px;
}

.info-heading {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.company-shipping {
  outline: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.company-shipping-item {
  margin-bottom: 12px;
}

.company-shipping-item:last-child {
  margin-bottom: 0;
}

.company-shipping-item::before {
  content: "";
  background-image: url(../img/index/list-item.svg);
  background-color: var(--map-background);
  width: 25px;
  height: 2px;
  display: inline-flex;
  vertical-align: middle;
}

.company-text {
  margin: 0;
  max-width: 478px;
}

.company-text-top {
  margin-bottom: 25px;
}

.contacts-text {
  margin-bottom: 32px;
}

.info-link {
  min-width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--white);
}

.company-info-link {
  width: 192px;
  height: 38px;
}

.contacts-minimap-link {
  display: block;
  margin-bottom: 17px;
}

/**Catalog.html**/

.catalog-wrapper {
  display: block;
}

/*Breadcrumbs*/

.catalog-breadcrumbs {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 20px;
}

.catalog-breadcrumbs-item::before {
  content: "";
  background-image: url(../img/catalog/icon-right-small.svg);
  width: 8px;
  height: 12px;
  display: inline-flex;
  vertical-align: middle;
}

.catalog-breadcrumbs-link-home::before {
  content: "";
  background-image: url(../img/catalog/icon-home.svg);
  width: 14px;
  height: 12px;
  display: inline-flex;
  vertical-align: middle;
}
/*Product group name*/

.catalog-filter-heading {
  width: 100%;
  height: 89px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  color: var(--basic-gray);
  margin: auto;
  display: block;
}

/* Filter */

.catalog-container {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: auto;
  padding: 0;
  margin: 0;
}

.catalog-filter-form-manufacturers {
  border-style: none;
}

.catalog-filter-form-manufacturers-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter-form-manufacturers-list {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filter-form-power {
  border-style: none;
}

.catalog-filter-form-power-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter-form-power-list {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filter-form-button {
  width: 220px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border-color: var(--basic-background);
  border-style: solid;
  border-width: 1px;
}

/* Sorting */

.catalog-sorting {
  width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.catalog-sorting-list {
  width: 443px;
  display: flex;
  justify-content: space-between;
}

/*Catalog*/

.catalog-goods {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  justify-content: space-between;
  position: relative;
  bottom: 440px;
  left: 240px;
  margin: 0;
  padding: 0;
}

.catalog-goods-item {
  width: 220px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--basic-background);
}

.price-text {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.catalog-goods-price {
  width: 141px;
  height: 38px;
  color: var(--basic-graylight);
  text-decoration: line-through;
}

.catalog-goods-sale {
  background-image: url(../img/catalog/red-button.svg);
  background-repeat: no-repeat;
  color: var(--white);
}

.catalog-goods-buy-link {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0px var(--basic-greendark);
  border-radius: 2px;
  background-color: var(--basic-green);
  color: var(--white);
}

.catalog-goods-buy-link::before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  width: 15px;
  height: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.catalog-goods-bookmark-link {
  border: 3px solid var(--basic-greendark);
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.catalog-goods-new {
  background-image: url(../img/catalog-new.svg);
  width: 70px;
  height: 70px;
  opacity: 1;
}

/* Pagination */

.catalog-pagination {
  display: flex;
  justify-content: space-between;
  width: 284px;
  position: relative;
  bottom: 430px;
  left: 225px;
  list-style: none;
}

/* General product information */

.general-product-information {
  width: auto;
  background-color: var(--basic-background);
}

.general-product-information-wrapper {
  display: block;
}

.general-product-information-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.general-product-information-text {
  margin: 0;
}

/*Footer*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
  background-color: var(--background-gray)
}

.footer-nav-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-links {
  width: 100%;
  background-color: var(--basic-graydark);
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 29px;
}

.footer-nav-up {
  width: 100%;
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
}

.footer-nav-logo {
  outline: none;
  display: block;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 41px;
  padding-right: 41px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-nav-logo:active {
  background-color: var(--error);
}

.footer-nav-logo-img {
  width: 138px;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.white-list {
  padding-top: 37px;
}

.yellow-list {
  margin-left: auto;
  padding-top: 5px;
}

.footer-nav-list-item {
  margin-right: 59px;
}

.footer-nav-list-item:last-child {
  margin-right: 0;
}

.white-item {

}

.yellow-item {

}

.footer-nav-list-link {
  outline: none;
}

.footer-nav-list-link:hover,
.footer-nav-list-link:focus {
  text-decoration: underline;
}

.footer-nav-list-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.white-link {
  color: var(--white);
}

.yellow-link {
  color: var(--special-yellowlight);
}

.footer-nav-down {
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-nav-contacts {
  display: block;
  padding-top: 1px;
  padding-left: 3px;
}

.footer-nav-address {
  font-style: normal;
}

.footer-nav-tel {
  color: var(--white);
}

.footer-links-wrapper {
  display: flex;
  padding-top: 36px;
}



.footer-links-copyright {
  margin: 0;
  padding: 0;
}

.footer-links-socials {
  margin: 0;
  margin-left: 164px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 134px;
}

.footer-links-socials-link {
  background-color: var(--basic-socials);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

.footer-links-socials-link:hover,
.footer-links-socials-link:focus,
.footer-links-socials-link:active {
  background-color: var(--basic-red);
}

.vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 15px;
}

.facebook {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 22px;
}

.instagram {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px;
}

.footer-links-feedback {
  margin: 0;
  margin-left: 117px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-links-developer {
  margin: 0;
  margin-left: 52px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-links-feedback-link {
  outline: none;
  color: var(--special-yellowlight);
}

.footer-links-feedback-link:hover,
.footer-links-feedback-link:focus {
  text-decoration: underline;
}

.footer-links-feedback-link:active {
  text-decoration: none;
  color: var(--basic-red)
}

.footer-links-developer-link {
  color: var(--special-yellowlight);
}

.footer-links-developer-link:hover,
.footer-links-developer-link:focus {
  text-decoration: underline;
}

.footer-links-developer-link:active {
  text-decoration: none;
  color: var(--basic-red)
}
