.popup {
  display: none;
}

/*Variables*/

:root {
  --black: #000000;
  --white: #FFFFFF;
  --background-gray: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-graydark: #293449;
  --basic-gray: #3D546F;
  --basic-graylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-yellow: #FFC047;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-beige: #F7F3EC;
  --success: #5FBB2D;
  --warning: var(--special-yellow);
  --error: #BA2732;
  --basic-greendark: #63A63E;
}

/*Visually hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Header*/

.header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
  color: var(--white);
}

.header-top {
  align-items: center;
  display: flex;
  width: 100%;
  height: 42px;
  margin: auto;
  background-color: var(--basic-graydark);
}

.header-top-logo {
  text-align: center;
  margin: auto;
  margin-right: 0;
  width: 220px;
  height: 47px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-top-logo:active {
  background: var(--error);
}

.header-search {
  margin: auto;
  margin-left: 17px;
  width: 271px;
  height: 42px;
  background-color: transparent;
}

.header-search-button {
  padding: 0;
  background-color: transparent;
  border-style: none;
  margin-top: 12px;
}

.header-search-icon {
  width: 17px;
  height: 17px;
  opacity: 0.3;
  fill: var(--white);
}

.header-search-icon:hover,
.header-search-icon:focus {
  opacity: 1;
}

.header-search-icon:active {
  fill: var(--white);
  opacity: 0.3;
}

.header-search-input {
  background-color: transparent;
  border-style: none;
  color: var(--white);
}

.header-search-input::placeholder {
  color: var(--white);
  opacity: 1;
}

.header-user-controls {
  margin: auto;
  display: inherit;
  padding: 0;
  list-style: none;
}

.header-user-controls-item {
  align-items: center;
  width: 150px;
  height: 42px;
  display: inherit;
  text-align: center;
}

.header-user-controls-link {
  display: inherit;
  color: inherit;
}

.icon-bookmark::before {
  margin: auto;
  margin-right: 10px;
  content: "";
  background-image: url(../img/icon-bookmark.svg);
  width: 14px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.icon-cart::before {
  margin: auto;
  margin-right: 10px;
  content: "";
  background-image: url(../img/icon-cart.svg);
  width: 15px;
  height: 15px;
  display: block;
  vertical-align: middle;
}

.header-checkout {
  width: 150px;
  height: 42px;
  background-color: var(--success);
}

.header-checkout-text {
  margin: auto;
}

.header-main-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-main-phone {
  display: inline-block;
  padding-left: 39px;
  padding-right: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border-style: solid;
  border-color: var(--white);
}

.header-main-phone::before {
  content: "";
  background-image: url(../img/icon-phone.svg);
  width: 19px;
  height: 19px;
  display: inline-flex;
  vertical-align: middle;
}

.header-main-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--background-gray);
}

.header-login-actions {
  list-style: none;
}

.header-login-actions-link {
  background-color: var(--white);
  text-align: center;
  color: var(--black);
}

.header-icon-login {
  width: 20px;
  height: 17px;
  fill: var(--basic-graylight);
  vertical-align: middle;
}

.header-nav {
  list-style: none;
  padding: 0px;
  width: 940px;
  height: 60px;
  background-color: var(--background-gray);
  box-shadow: inset 0px -5px 0px var(--basic-graydark);
  margin: auto;
  display: flex;
}

.header-nav-item {
  display: inline-inline-flex;
  margin: auto;
}

.header-nav-link {
  color: inherit;
}

/*Main*/

/**Index.html**/
/*Partitions*/



/*Services*/



/*Info*/

.info-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.company-shipping {
  font-family: "Cuprum", Arial, sans-serif;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.company-shipping-item::before {
  content: "";
  background-image: url(../img/index/list-item.svg);
  width: 25px;
  height: 2px;
  display: inline-flex;
  vertical-align: middle;
}

.info-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--white);
}

.company-info-link {
  width: 192px;
  height: 38px;
}

.contacts-link {
  width: 245px;
  height: 38px;
}

/**Catalog.html**/

.catalog {

}

/*Crumbs*/

.catalog-breadcrumbs {
  list-style: none;
  display: flex;
}

.catalog-breadcrumbs-item::before {
  content: "";
  background-image: url(../img/catalog/icon-right-small.svg);
  width: 8px;
  height: 12px;
  display: inline-flex;
  vertical-align: middle;
}

.catalog-breadcrumbs-link-home::before {
  content: "";
  background-image: url(../img/catalog/icon-home.svg);
  width: 14px;
  height: 12px;
  display: inline-flex;
  vertical-align: middle;
}
/*Product group name*/

.catalog-filter-heading {
  width: 940px;
  height: 89px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  color: var(--basic-gray);
  margin: auto;
  display: flex;
}

/* Filter */

.catalog-filter-form-manufacturers {
  border-style: none;
}

.catalog-filter-form-manufacturers-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter-form-manufacturers-list {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filter-form-power {
  border-style: none;
}

.catalog-filter-form-power-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter-form-power-list {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filter-form-button {
  width: 220px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border-color: var(--basic-background);
  border-style: solid;
  border-width: 1px;
}

/* Sorting */



/*Catalog*/

.catalog-goods {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.catalog-goods-item {
  width: 220px;
  height: 318px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--basic-background);
}

.price-text {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.catalog-goods-price {
  width: 141px;
  height: 38px;
  color: var(--basic-graylight);
  text-decoration: line-through;
}

.catalog-goods-sale {
  background-image: url(../img/catalog/red-button.svg);
  color: var(--white);
}

.catalog-goods-buy-link {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0px var(--basic-greendark);
  border-radius: 2px;
  background-color: var(--basic-green);
  color: var(--white);
}

.catalog-goods-buy-link::before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  width: 15px;
  height: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.catalog-goods-bookmark-link {
  border: 3px solid var(--basic-greendark);
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.catalog-goods-new {
  background-image: url(../img/catalog-new.svg);
  width: 70px;
  height: 70px;
  opacity: 1;
}

/* Pagination */

/*Footer*/

.footer {
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  width: 100%;
  height: 300px;
  font-size: 18px;
  color: var(--white);
  background-color: var(--basic-gray);
}

.footer-nav {
  display: flex;
  width: 100%;
}

.footer-links {
  position: absolute;
  display: flex;
  width: 100%;
  height: 107px;
  margin-top: 193px;
  background-color: var(--basic-graydark);
}


.footer-nav-logo {
  width: 220px;
  height: 68px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-nav-white {
  list-style: none;
  width: 548px;
  height: 24px;
  padding: 0px;
  position: absolute;
  margin-left: 523px;
  display: inline-flex;
}

.footer-nav-white-link {
  color: var(--white);
}

.footer-nav-yellow {
  list-style: none;
  padding: 0px;
  position: absolute;
  margin-left: 546px;
  margin-top: 95px;
  display: inline-flex;
}

.footer-nav-item {
  display: inline-flex;
  margin: auto;
  padding: 0;

}

.footer-nav-yellow-link {
  color: var(--special-yellowlight);
}

.footer-nav-contacts {
  position: absolute;
  margin-top: 90px;
}

.footer-links {
  display: flex;
  height: 107px;}

.footer-links-socials {
  list-style: none;
  display: flex;
  padding: 0;}

.footer-links-feedback {
  display: flex;
  position: relative;
  margin: auto;
  }

.footer-links-developer {
  display: flex;
  position: relative;
  margin: auto;}
